.character-creator-preview{
    float: left;
    width: 600px;
    height: 500px;
    border: 5px solid black;
    position: relative;
    background-image: url("../images/background.png");
    background-size: cover;
}

.character-creator-preview > img{
    position: absolute;
}

.character-creator-pickers{
    text-align: center;
}

.character-creator-pickers i{
    transition: .3s ease all;
    cursor: pointer;
}

body, #app, #app>.row{
    /*overflow: hidden;*/
}

.player-quick-info{
    width: 10vw;
    position: relative;
    text-align: center;
}

.player-quick-info > div {
    padding: 0;
    margin: 0;
    top: 40px;
    position: absolute;
}

.fa.fa-power-off {
    color: #ff8a80;
}

.item-box{
    height: 80px;
    width: 80px;
    margin: 5px auto;
    border: 5px solid black;

    text-wrap: normal;
    vertical-align: top;
}

.character-box{
    width: 350px;
    height: 350px;
    position: relative;
    margin: 5px auto 5px auto;
    background-image: url("../images/background.png");
    border: 5px solid black;
}

nav{
    background-color: #26a69a;
}

.brand-logo{
    margin-left: 10px;
}

.sidebar .btn{
    width: 100%;
    margin: 2px auto;
}

.progress .determinate{
    background-color: #fb8c00;
}


.character-box > img {
    position: absolute;
    width:100%;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

.character-box-info{
    text-align: center;
}

.backpack-box > div{
    margin: 0 auto;
    text-align: center;
}

.backpack-box > div > div{
    display: inline-block;
}

.creator-title{
    text-align: center;
}

.quest .progress {
    height: 20px;
}

nav ul li {
    margin: 0 10px;
}

.text-center{
    text-align: center;
}

.opponent-character-box img{
    transform: scaleX(-1);
}

.versus{
    margin-top: 30vh;
}

.item-box{
    position: relative;
}

.item-box-info{
    background-color: #00b0ff;
    border: 1px solid black;
    padding:10px;
    display: none;
    position: absolute;
    left: -50%;
    bottom: -50%;
    z-index: 99999;
}

.item-box:hover > .item-box-info{
    display: block;
}